/* Global mobile styles */
@media (max-width: 576px) {
    body {
        font-size: 16px;
        line-height: 24px;
    }

    .box {
        padding: 10px;
    }
}

/* Container styles */
#container-global {
    background-color: #F0A225;
}

/* Box styles */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 0 .5rem;
    padding: 0 .8rem;
}

span.links-nav{
    list-style-type: none;
    margin: 0;
    color: #FFF;
    font-size:large ;
}
.links-nav:hover {
    cursor: pointer;
    color: rgb(6, 105, 244);
    transition: 0.5s;
}

/* Menu styles */
.menu-open {
    position: absolute;
    top: 92px;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 18rem;
    overflow: auto;
    background-color: #F0A225;
    border-radius: 0 0 10px 10px;
    z-index: 10;
    flex-direction: column;
    padding: 10px;
}