#container-global {
    background-color: #F0A225;
}

.box {
    display: flex;
    justify-content: space-around;
    text-align: start;
    align-items: center;
    height: 70px;
    margin: .5rem;
    padding: .5rem;
    text-align: center;
    font-weight: 600;
    color: aliceblue;
}


.box:hover {
    cursor: pointer;
    color: rgb(59, 125, 219);
    transition: 0.5s;
}

.menu-open {
    position: absolute;
    top: 92px;
    right: 0;
    bottom: 0;
    width: 210px;
    height: 16cm;
    overflow: auto;
    background-color: #F0A225;
    z-index: 10;
    flex-direction: column;
    padding: 10px;
}