#container-global {
    background-color: #F0A225;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-right: 10px;
    padding-right: 10px;
    text-align: center;
    font-weight: 600;
    color: aliceblue;
}

.box:hover {
    cursor: pointer;
    color: rgb(59, 125, 219);
    transition: 0.5s;
}
.menu-open {
    position: absolute;
    top: 95px;
    right: 0;
    bottom: 0;
    width: 180px;
    background-color: rgb(147, 142, 142);
    z-index: 10;
    flex-direction: column;
    padding: 15px 10px;
}
