header {
    background-image: linear-gradient(to right, rgb(250,250,250,0.2), rgb(250,250,250, 0.3)),url("/assets/Images/hero_mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

input.input-field {
    border: none;
    border-bottom: 2px solid #333;
    padding: 10px;
    margin: 10px 0;
    outline: none;
    width: 100%;
}

.toggle>div {
    position: relative;
    padding: 10px;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, .5), 0px 1px 1px 0 rgba(255, 255, 255, 1);
    background: rgb(189, 191, 193);
    background: linear-gradient(to bottom, rgba(189, 191, 193, 1) 0%, rgba(249, 251, 254, 1) 100%);
    margin-bottom: 2rem;
}

.toggle>div>input[type=checkbox] {
    position: absolute;
    opacity: 0;
    top: -3px;
    left: 17px;
    width: 100%; 
    height: 55px;
    z-index: 5;
}

.toggle>div>input[type=checkbox]~div {
    width: 100%; 
    height: 35px;
    border-radius: 50px;
    border: 1px solid #979797;
    box-shadow: inset 5px 0 0 0 rgba(0, 0, 0, .1), inset -5px 0 0 0 rgba(0, 0, 0, .1), inset -6px 0 0 0 rgba(255, 255, 255, .5), inset -4px 6px 11px -5px rgba(0, 0, 0, .2), inset 1px 1px 0 0 rgba(255, 255, 255, 1), -6px 4px 11px -7px rgba(0, 0, 0, .5);
    background: rgb(253, 252, 251);
    background: linear-gradient(to right, rgba(253, 252, 251, 1) 42%, rgba(229, 229, 229, 1) 80%);
}

.toggle>div>input[type=checkbox]:checked~div {
    box-shadow: inset -5px 0 0 0 rgba(0, 0, 0, .1), inset 5px 0 0 0 rgba(0, 0, 0, .1), inset 6px 0 0 0 rgba(255, 255, 255, .5), inset -4px 6px 11px -5px rgba(0, 0, 0, .2), inset 1px 1px 0 0 rgba(255, 255, 255, 1), -6px 4px 11px -7px rgba(0, 0, 0, .5);
    background: rgb(229, 229, 229);
    background: linear-gradient(to right, rgba(229, 229, 229, 1) 20%, rgba(253, 252, 251, 1) 50%);
}

.toggle>div>input[type=checkbox]~div:before {
    content: attr(data-unchecked);
    display: block;
    position: absolute;
    font-weight: 600;
    border-radius: 10px;
    top: 15px;
    left: 30px;
}

.toggle>div>input[type=checkbox]~div:after {
    content: attr(data-checked);
    color: #119400;
    font-weight: 600;
    text-shadow: 0 1px 0 #ffffff, 0px 0 7px #007a08;
    filter: dropshadow(color=#007a08, offx=0, offy=0);
    display: block;
    position: absolute;
    border-radius: 10px;
    top: 15px;
    left: 80%; 
}

.toggle>div>input[type=checkbox]:checked~div:before {
    color: #119400;
    font-weight: 600;
    text-shadow: 0 1px 0 #ffffff, 0px 0 7px #007a08;
    filter: dropshadow(color=#007a08, offx=0, offy=0);
}

.toggle>div>input[type=checkbox]:checked~div:after {
    color: #000;
    font-weight: 600;
    text-shadow: none;
    filter: dropshadow(none);
}


@media screen and (min-width: 768px) {
header {
    background-image: linear-gradient(to right, rgb(250,250,250,0.2), rgb(250,250,250, 0.3)),url("/assets/Images/hero_3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}
    .toggle>div {
        width: 250px; 
        height: 50px;
    }

    .toggle>div>input[type=checkbox] {
        width: 260px; 
        height: 55px;
    }

    .toggle>div>input[type=checkbox]~div {
        width: 230px; 
        height: 35px;
    }

    .toggle>div>input[type=checkbox]:checked~div:after {
        left: 180px; 
    }
}
